* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: leaguefont;
  src: url("../fonts/font.ttf");
}
body {
  height: 100vh;
  /*----------------------------------display flex?*/
  background-image: url("../images/other/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*----------------------------------navbar*/
.nav-link {
    display: block;
    padding: .5rem 5rem;
}
a {
  font-family: leaguefont;
  background: -webkit-linear-gradient(#ff9900,#ffff66);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5rem;
  text-transform: capitalize;
}

/*----------------------------------container*/
.memory-game {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}
/*----------------------------------memory cards*/
.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
/*----------------------------------click animation*/
div.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background-image: linear-gradient(#1c7ccc, #00ccff);
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}
